.body {
  font: 20px arial, sans-serif;
}

.navbar {
  background-color: #bae4cb;
  font: 20px arial, sans-serif;
}

.margin {
  padding-top: 20px;
  padding-bottom: 30px;
}
.quem-somos {
  background-color: #5dade2;
  font: 20px arial, sans-serif;
  text-align: justify;
}

.parceiros {
  background-color: #bae4cb;
}

.servicos {
  background-color: whitesmoke;
  font: 20px arial, sans-serif;
}
.bg-footer {
  background-color: #5dade2;
  font: 20px arial, sans-serif;
}
